<% // 页头1     %>
<% addBrowserChecker = false %>
<% include ../../common/public/tpl/common-header.begin.ejs %>

<script type="text/javascript">
    if (self != top) {
        top.location = self.location;
    }

    Oplate = {
        isProduction: '<%= locals.isProduction %>',
        webpackMode: '<%= locals.webpackMode %>',
        lang: '<%= lang %>',
        hideSomeItem: '<%- hideSomeItem %>',
        projectName: '<%= projectName %>',
        clientId: '<%- clientId %>',
        useSso:'<%- useSso %>'
    };
</script>
<script type="text/javascript">
    if (typeof String.prototype.startsWith !== 'function') {
        String.prototype.startsWith = function (prefix) {
            return this.slice(0, prefix.length) === prefix;
        };
    }
</script>
<% if(addShowingIoCode == "true") { %>
<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    // tracker methods like "setCustomDimension" should be called before "trackPageView"
    _paq.push(['setUserId', '<%= username %>']);
    _paq.push(['setCustomDimension', 1, '<%= userid %>']);
    _paq.push(['setCustomDimension', 2, '<%= username %>']);
    _paq.push(['setDocumentTitle', "/"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableHeartBeatTimer', 30]);
    (function () {
        var u = "//ustat.antfact.com/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', '<%= siteID %>']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<!-- End Piwik Code -->
<% } %>
<% // 页头2         %>
<% include ../../common/public/tpl/common-header.end.ejs %>
<div id="app"></div>
<script src="/dll/dll.vendor.js"></script>
<script src="/dll/dll.reactRel.js"></script>
<script src="/dll/dll.echartMapJson.js"></script>
<script src="/dll/dll.echarts.js"></script>
<script src="/dll/dll.echartsEefung.js"></script>
<script src="/dll/dll.antd.js"></script>
<script src="/resources/common.bundle.js"></script>
<script src="/resources/app.bundle.js"></script>

<% // 页脚          %>
<% showFooterContent = false %>
<% include ../../common/public/tpl/common-footer.ejs %>
