<% // 页头1  %>
<% addBrowserChecker = true %>
<% include ../../common/public/tpl/common-header.begin.ejs %>

<script type="text/javascript">
    if (self != top) {
        top.location = self.location;
    }

    Oplate = {
        lang: '<%= lang %>',
        loginErrorMsg: '<%= loginErrorMsg %>'
    };
</script>
<% // 页头2       %>
<% include ../../common/public/tpl/common-header.end.ejs %>

<style id="css-style-collector-data">
    <%- styleContent %>
</style>

<div id="react-placeholder"><%- loginForm %></div>
<script src="/dll/dll.vendor.js?timestamp=<%= timeStamp %>"></script>
<script src="/dll/dll.reactRel.js?timestamp=<%= timeStamp %>"></script>
<script src="/resources/common.bundle.js?timestamp=<%= timeStamp %>"></script>
<% // --- 微信绑定界面 ---  %>
<script src="/resources/wechat_bind_login.bundle.js?timestamp=<%= timeStamp %>"></script>
