<% if(global.showFooterContent === true) { %>
<style>
    #footer {
        font-size: 12px;
        color: #ffffff;
        font-family: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
    }
    #footer .footer-content {
        white-space: nowrap;
        padding: 8px 16px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        right: 0;
    }
    #footer span, #footer a {
        line-height: 30px;
        margin-right: 4px;
    }
     #footer a {
        color: #ffffff;
        text-decoration: none;
     }
</style>
<div id='footer' class="footer">
    <div class="footer-content">
         ©
         <a href='<%= companyLink %>'>
            <%= company %>
        </a>
        <a href='http://www.beian.miit.gov.cn/'>
            <%= recordNum %>
        </a>
        <span>
            <%= hotline %>
        </span>
        <span>
            <%= contact %>
        </span>
    </div>
</div>
<% } %>
<% if(isCurtao && custom_service_lang) { %>
<style>
    #chatBtn {
        right: 0px !important;;
        bottom: 1px !important;;
        padding: 4px 3px 0px !important;
        line-height: initial;
    }

    #chatBtn img {
        margin: 0px !important;
    }

    #chatBtn span {
        display: none !important;
    }
</style>
<% } %>
</body>
<% if(isCurtao && show_custom_service) { %>
<!-- custome service(baidu 商桥的客服) -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?018070b819b07675def7ad2d0574534f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<% } %>
</html>