<% if(global.showFooterContent === true) { %>
<style>
    #footer {
        font-size: 12px;
        color: #ffffff;
        font-family: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif !important;
    }

    #footer .footer-content {
        white-space: nowrap;
        padding: 14px 20px;
        line-height: 30px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        right: 0;
    }

    #footer .footer-content span {
        margin-right: 12px;
    }
</style>
<div id='footer' class="footer">
    <div class="footer-content">
                <span>
                    <%= company %>
                </span>
        <span>
                    <%= hotline %>
                </span>
        <span>
                    <%= contact %>
                </span>
    </div>
</div>
<% } %>
<% if(isCurtao && custom_service_lang) { %>
<style>
    #chatBtn {
        right: 0px !important;;
        bottom: 1px !important;;
        padding: 4px 3px 0px !important;
        line-height: initial;
    }

    #chatBtn img {
        margin: 0px !important;
    }

    #chatBtn span {
        display: none !important;
    }
</style>
<% } %>
</body>
<% if((isCurtao && custom_service_lang) || show_custom_service) { %>
<!-- custome service-->
<script type='text/javascript' src='https://webchat.7moor.com/javascripts/7moorInit.js?accessId=f5f6dd30-c3c9-11e9-b853-050e898ec854&autoShow=true&language=<%= custom_service_lang %>' async='async'>
</script>
<script type='text/javascript'>
    var qimoClientId = '<%= userid %>';
</script>
<% } %>
</html>